@use '../abstracts/variables' as *;

:root {
  --background: #{$background};
  --foreground: #{$foreground};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --accent: #{$accent};
  --tech-green: #{$tech-green};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}
